*{padding: 0;margin: 0;}

.container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 50vh;
}

button{
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: white;
}

#signupForm button[type=submit]{
    background-color: rgb(32, 101, 250);
}

#loginForm button[type=submit]{
    background-color: rgb(0, 159, 11);
}

#back{
    background-color: black;
    padding: 2px;
}

#send{
    background-color: green;
    padding: 3px;
}

.inputBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

textarea{
    width: 100%;
    height: 60px;
    resize: none;
}

input{
    height: 25px;
}

form #flip{
    background-color: transparent;
    color: blue;
}

form button[type=submit]{
    width: 50%;
    margin: auto;
    height: 25px;
    margin-top: 10px;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.chats{
    width: 70vw;
    height: 60vh;
    border: 2px solid grey;
    border-radius: 7px;
    padding: 4px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.chats div{
    margin-top: 3px;
}

pre{
    padding: 3px;
    width: fit-content;
    max-width: 75%;
    background-color: black;
    border-radius: 5px;
    font-size: larger;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.p1{
    color: skyblue;
    display: flex;
    justify-content: end;
}

.p2{
    color: yellow;
}